/1_datasets/__pycache__
/3_analysis/plots_R
/3_analysis/regression_model.R
/3_analysis/.Rhistory
/3_analysis/.ipynb_checkpoints
/.ipynb_checkpoints
/3_analysis/RandomForest_variable_exploration.R
/3_analysis/GLM short failures.ipynb
/3_analysis/GLM short.ipynb
/3_analysis/GLM original.ipynb
/3_analysis/RF original.ipynb
/3_analysis/regression_model.R
/figures/RF_success/RF_success.RData
