/.ipynb_checkpoints
/1_datasets/__pycache__
/1_datasets/revision.ods
/1_datasets/tomato_rhizosphere
/2_generate_training_data/test
/2_generate_training_data/create_data_rhizosphere.R
/2_generate_training_data/create_data.R
/2_generate_training_data/read_simul_data.R
/2_generate_training_data/.Rhistory
/3_analysis/plots_R
/3_analysis/regression_model.R
/3_analysis/.Rhistory
/3_analysis/.ipynb_checkpoints
/3_analysis/RandomForest_variable_exploration.R
/3_analysis/GLM short failures.ipynb
/3_analysis/GLM short.ipynb
/3_analysis/GLM original.ipynb
/3_analysis/RF original.ipynb
/3_analysis/regression_model.R
/figures/1__RF_success/RF_success.RData
/figures/2__GLM_failure/GLM_failure.RData
/figures/2__GLM_failure/*.mp4
/figures/0__target_variable_space/Combined
