/1_datasets/__pycache__
/1_datasets/revision.ods
/1_datasets/tomato_rhizosphere
/1_datasets/simulation_results/preparsed/success_rates.csv
/1_datasets/simulation_results/preparsed
/1_datasets/simulation_results/preparsed/1g.RData
/1_datasets/simulation_results/2024_parser.sh
/2_simulations/test
/2_simulations/.Rhistory
/2_simulations/00_simulation_wrappers/wrapper_rhizosphere.sh
/2_simulations/02_process_results/create_data_rhizosphere.R
/2_simulations/02_process_results/create_data.R
/2_simulations/02_process_results/read_simul_data.R
/2_simulations/02_process_results/create_data_simcomms_Gini.R
/3_analysis/plots_R
/3_analysis/regression_model.R
/3_analysis/.Rhistory
/3_analysis/*.ipynb
/3_analysis/.ipynb_checkpoints
/3_analysis/RandomForest_variable_exploration.R
/3_analysis/GLM short failures.ipynb
/3_analysis/GLM short.ipynb
/3_analysis/GLM original.ipynb
/3_analysis/RF original.ipynb
/3_analysis/regression_model.R
/3_analysis/g_plot_results_facet_by_dil_PARTS.r
/3_analysis/debug
/3_analysis/"0g__plot_extinction_ extinctionPERgroups_gr_PREPARSED_by_nicheN.R"
/figures/1__RF_success/RF_success.RData
/figures/2__GLM_failure/GLM_failure.RData
/figures/2__GLM_failure/*.mp4
/figures/0__target_variable_space/Combined
/figures/0__dilfactor_effect.png
/figures/dilfactor_effect.png
/figures/0__INTERACTIONS
/figures_groups/preparsed_0.5
/figures_paper/\.*
*.md
!README.md